@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-pink: #ff6ec7;
  --neon-blue: #4d4dff;
  --neon-green: #39ff14;
  --neon-yellow: #ccff00;
  --neon-orange: #ff4500;
  --neon-purple: #9400d3;
  --neon-red: #ff073a;
  --neon-cyan: #00ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .neon-glow {
    text-shadow: 0 0 5px var(--neon-red), 0 0 10px var(--neon-green), 0 0 20px var(--neon-green), 0 0 40px var(--neon-blue);
    box-shadow: 0 0 5px var(--neon-red), 0 0 10px var(--neon-green), 0 0 20px var(--neon-blue), 0 0 40px var(--neon-green);
  }
}

.game {
  @apply flex flex-col items-center font-mono;
}

.game-board {
  @apply mb-5;
}

.square {
  @apply sm:w-52 sm:h-52 bg-black border-2 sm:text-8xl text-7xl font-bold cursor-pointer outline-none w-32 h-32 shadow m-1 rounded hover:text-9xl hover:bg-gray-800 transition-all duration-300 ease-in-out;
  color: var(--neon-green); /* Neon text color for the squares */
  border-color: var(--neon-green); /* Neon border color */
}

.square-won {
  @apply sm:w-52 sm:h-52 bg-green-500 border-2 text-8xl font-bold cursor-pointer outline-none w-32 h-32 shadow m-1 rounded hover:text-9xl hover:bg-gray-800 transition-all duration-300 ease-in-out;
  color: var(--neon-green); /* Neon text color for the squares */
  border-color: var(--neon-green); /* Neon border color */
}

.square:focus {
  @apply bg-gray-900; 
  color: var(--neon-green);
}

.status {
  @apply mb-8 text-xl font-bold ;

}

.square:focus {
  @apply bg-gray-700;
}

.board-row {
  @apply flex;
}

.game-info {
  @apply m-5;
}

.game-info ol {
  @apply gap-1 m-4;
}

.game-info ol li {
  @apply mb-1;
}

.game-info button {
  @apply text-xl bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded cursor-pointer;
}


/* Connect 4 Specific Styles */
.connect_4_board {
  @apply grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  justify-content: center;
  margin: 10px auto;
  background-color: #223bde;
  padding: 20px;
  border-radius: 40px;
}

.custom-3d-board {
  perspective: 500px;
  background: linear-gradient(to top, #1e3a8a, #3b82f8);
  
  transform: rotateX(30deg);
  transform-origin: bottom;
  
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);

  padding: 20px;
  border: 1px solid black;
  height: 50px; 
  width:auto;
  margin-right: 0px;
}

.table {
  perspective: 500px;
  background: linear-gradient(to top, #ae4913, #613e14);
  transform: rotateX(30deg);
  transform-origin: bottom;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
  padding: 20px;
  height: 400px; 
  width: 100%;
  margin-right: 0px;
  border-radius: 40px;
    /* Adjusted clip-path for a 3D trapezoidal effect */
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);

}


.row {
  @apply grid;
  grid-template-columns: repeat(7, 80px);
  gap: 5px;
}

.cell {
  @apply flex items-center justify-center cursor-pointer;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 2px solid var(--neon-green);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.cell:hover {
  transform: scale(1.1);
}

.piece {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.piece.R {
  background-color: var(--neon-red);
}

.piece.Y {
  background-color: var(--neon-green);
}